In [1]:
import pandas as pd
import numpy as np
import jsons

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))
df

     A   B   C   D
0   76  21  20  18
1   85  37  26  90
2   61  71  99  24
3   30  82  89  19
4    6   8  33  12
5   16  40  70  49
6   15  73  87  14
7   81  28  91  97
8   17  97  67  64
9   62  94  48  66
10  25  27  81  20
11  95  19  99  98
12  62  63  32  17
13  13  37  74  37
14  87   7  45  57

In [3]:
df.index.name = 'ID'
df.reset_index(inplace=True)
df

    ID   A   B   C   D
0    0  76  21  20  18
1    1  85  37  26  90
2    2  61  71  99  24
3    3  30  82  89  19
4    4   6   8  33  12
5    5  16  40  70  49
6    6  15  73  87  14
7    7  81  28  91  97
8    8  17  97  67  64
9    9  62  94  48  66
10  10  25  27  81  20
11  11  95  19  99  98
12  12  62  63  32  17
13  13  13  37  74  37
14  14  87   7  45  57

In [ ]:
df_json = df.to_json(orient="split")
parsed = jsons.loads(df_json)
jsons.dumps(parsed, indent=4)